{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Checkout{% endblock %}


{% block content%}
  
    <!--checkout-->
    <section class="checkout_wthree py-sm-5 py-3" style="margin-top:7.6rem">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Billing Address</h5>
                    </div>
                    
                    <div class="card-body">
                        <form id="addressForm" method="post" action="{% url 'place_order' %}">
                            {% csrf_token %}
                            {% for address in address %}
                                <div class="mb-4 form-check">
                                    <input class="form-check-input" type="radio" name="address" id="flexRadioDefault{{ address.id}}" value="{{ address.id }}">
                                    <label class="form-check-label" for="flexRadioDefault{{ address.id}}">
                                        {{ address.full_address}}
                                    </label>
                                </div>
                            {% endfor%}
                        </form>
                        <div>
                            <button id="btn" class="mb-3 btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"  style="display: inline-block;">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>Add new address</button>
                        </div>
                        <form id="form" method="POST" action={% url 'add_address'%} style="display: none">
                            {% csrf_token%}
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                {{ address_form.address_line_1|as_crispy_field }}
                                {% comment %} <input type="text" id="form6Example4" class="form-control" />
                                <label class="form-label" for="form6Example4">Address</label> {% endcomment %}
                            </div>
                            <div class="form-outline mb-4">
                                {{ address_form.address_line_2|as_crispy_field }}
                                {% comment %} <input type="text" id="form6Example4" class="form-control" />
                                <label class="form-label" for="form6Example4">Address</label> {% endcomment %}
                            </div>
                
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                {{ address_form.city|as_crispy_field }}
                                {% comment %} <input type="text" id="form6Example3" class="form-control" />
                                <label class="form-label" for="form6Example3">City</label> {% endcomment %}
                            </div>
                            <div class="form-outline mb-4">
                                {{ address_form.state|as_crispy_field }}
                                {% comment %} <input type="text" id="form6Example3" class="form-control" />
                                <label class="form-label" for="form6Example3">City</label> {% endcomment %}
                            </div>
                
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                {{ address_form.country|as_crispy_field }}
                                {% comment %} <input type="text" id="form6Example3" class="form-control" />
                                <label class="form-label" for="form6Example3">Country</label> {% endcomment %}
                            </div>
                
                            <!-- Number input -->
                            <div class="form-outline mb-4">
                                {{ address_form.pincode|as_crispy_field }}
                                {% comment %} <input type="number" id="form6Example6" class="form-control" />
                                <label class="form-label" for="form6Example6">Postal Code</label> {% endcomment %}
                            </div>
                
                            <hr class="my-4" />

                            <button class="btn btn-dark btn-lg btn-block" type="submit">
                                Save
                            </button>
                        </form>
                    </div>
                    </div>
                </div>
            
                <div class="col-md-6 mb-4">
                    <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Review your order</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Products</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                        <tr>
                                          <td>
                                            <figure class="itemside align-items-center">
                                              <div class="aside"><img src="{{ cart_item.product.product_image.url }}" class="img-sm"></div>
                                              <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}"
                                                  class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                <p class="text-muted small">
                                                  {% if cart_item.variations.all %}
                                                  {% for item in cart_item.variations.all %}
                                                  {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                  {% endfor %}
                                                  {% endif %}
                                                </p>
                                              </figcaption>
                                            </figure>
                                          </td>
                                          <td>
                                            <!-- col.// -->
                                            <label for="">{{cart_item.quantity}}</label>
                                          </td>
                                          <td>
                                            <div class="price-wrap">
                                              <var class="price ">$ {{ cart_item.sub_total }}</var>
                                              <small class="text-muted"> $ {{ cart_item.product.price }} each </small>
                                            </div> <!-- price-wrap .// -->
                                          </td>
                                        </tr>
                                        {% endfor %}
                                        
                                        {% if cart.coupon.amount %}       
                                        {% comment %} <dl class="dlist-align"> {% endcomment %}
                                          <tr>
                                          <td>Discount:</td>
                                          <td></td>
                                          <td class="text-right"><strong>$ {{cart.coupon.amount}}</strong></td>
                                          </tr>
                                        {% else %}
                                        {% endif %}
                                        {% comment %} <dl class="dlist-align"> {% endcomment %}
                                          <tr>
                                          <td>Tax:</td>
                                          <td></td>
                                          <td class="text-right text-dark b"><strong>$ {{tax | floatformat:2}}</strong></td>
                                          </tr>
                                        
                                          {% comment %} <tr>
                                          <td class="text-dark b"><strong>Total:</strong></td>
                                          <td></td>
                                          <td class="text-right text-dark b"><strong>$ {{grand_total| floatformat:2}}</strong></td>
                                          </tr> {% endcomment %}
                                    </tbody>
                                </table>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total Price</strong>
                                </div>
                                <span><strong>${{ grand_total|floatformat:2 }}</strong></span>
                            </li>
                        </ul>
                        <form method="post" action={% url "apply_coupon" %}>
                            {% include "alerts.html"%}
                            {% csrf_token %}
                            <div class="form-group">
                                <label> Have Coupon? </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="coupon" placeholder="Apply Coupon" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                      <button class="btn btn-dark" type="submit">Apply</button>
                                    </div>
                                </div>
                            </div>  
                        </form>
                        {% if cart.coupon %}
                            <a href="{% url 'remove_coupon' cart.id %}" class="btn btn-warning"> {{cart.coupon.code}} Applied</a>
                        {% endif %}
                    </div>
                    <div class="container">
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-dark btn-block mb-3" id="checkout-btn" >Place Order</button>
                        </div>
                        <a href="{% url 'store' %}" class="btn btn-outline-dark btn-block mb-3" >Continue Shopping</a>

                    </div>
                    </div>
                </div>
                {% comment %} <div class="container">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary" id="checkout-btn" >Proceed</button>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
      </section>
      <script src="{% static 'js/checkout.js' %}"></script>
{% endblock%}