{% extends 'admin/admindemo.html' %}

    {% block content %}
    {% load static %}

                <!-- Table Start -->
                <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">

                    <div class="row ">
                        <div class="col-sm-12 col-xl-12">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Category Table </h6>
                                <a href="{% url 'category_create' %}" type="button" class="btn btn-dark mb-3">Add Category</a>
                                <table class="table" id="example">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Category Name</th>
                                            <th scope="col">Slug</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col"></th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for categoryitem in categories %}

                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>

                                            {% comment %} <th scope="row">{{categoryitem.id}}</th> {% endcomment %}
                                            <td>{{categoryitem.category_name}}</td>
                                            <td>{{categoryitem.cat_slug}}</td>
                                            <td><a href="{% url 'category_update' categoryitem.id  %}">EDIT</a></td>
                                            <td></td>
                                            <td>
                                                <form method="POST" action="{% url 'category_delete' categoryitem.id %}">
                                                    {% csrf_token %}
                                                    <input name="_method" type="hidden" value="DELETE">
                                                    <button type="submit" class="btn btn-xs btn-danger btn-flat show_confirm" data-toggle="tooltip" title='Delete'>Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if categories.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{ categories.previous_page_number }}">Previous</a></li>
                                        {% endif %}
                                        {% for i in categories.paginator.page_range %}
                                            {% if categories.number == i %}
                                                <li class="page-item active "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if categories.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ categories.next_page_number }}">Next</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--Table end-->
  
    {% endblock %}