{% extends 'admin/basic.html' %}
{% load crispy_forms_tags %}
{% block title %}Category Update{% endblock %}


{% block content %}
    <div id="page-content-wrapper">
      {% comment %}   {% with title="Category Update" %}
            {% include "admin_dashboard/nav_bar.html" %}
        {% endwith %} {% endcomment %}
        <a href="{% url 'product_list' %}" ><button class="btn btn-success" >BACK</button></a>
        <div class="container-fluid px-4">
            <form class="row g-2"  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-6">
                    {{ category_form.category_name|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{ category_form.cat_slug|as_crispy_field}}
                
                <div class="col-12 d-flex justify-content-center mb-5">
                    <button type="submit" class="btn btn-primary px-4 mt-12">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}