{% extends 'admin/main.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div id="page-content-wrapper">
        
        
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Admin</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>MANAGE USERS</p>
                    <li class="active">
                        <a href="{% url 'product_list'%}">VIEW USERS</a>
                    </li>
                    <li class="">
                        <a href="{% url 'category_list'%}">Category</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_dash' %}">DASHBOARD</a>
                    </li>
                </ul>
                <ul class="list-unstyled components">
                    <li>
                        <a href="{% url 'admin_logout' %}">LOGOUT</a>
                    </li>
                </ul>
            </nav>
         <!-- Page Content Holder -->    
         <div id="content" style="width: 100%;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        {% comment %} <button style="display: inline-block;" type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"> {% endcomment %}
                            <button style="display: inline-block;color:white;" type="button" id="sidebarCollapse" class="btn btn-dark navbar-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                 <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                                </svg>
                            </button>
                       
                    </div>
                </div>
            </nav> 
            
    <div class="container-fluid px-4">
        {% if messages %}
            {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %} 
        <div class="row my-4">
            <div class="col-md-6">
                <form class="d-flex" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search product" name="keyword" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>

            <div class="col-md-6 d-flex flex-row-reverse">
                <a href="{% url 'product_create' %}" class="btn btn-outline-dark">Add Product</a>
            </div>
        </div>
        <div class="row my-1">
            <div class="col">
                <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                        <tr>
                            <th scope="col" width="50">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Price</th>
                            <th scope="col">Created</th>
                            <th scope="col">Updated</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products%}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ product.product_name}}</td>
                                <td>{{ product.category}}</td>
                                <td>{{ product.slug}}</td>
                                <td>{{ product.price}}</td>
                                <td>{{ product.created_at}}</td>
                                <td>{{ product.updated_at}}</td>
                                <td><a href="{% url 'product_update' product.id  %}"><i class="fa fa-edit" style="font-size:24px;color:green"></i></a></td>
                                <td>
                                    <form method="POST" action="{% url 'product_delete' product.id %}">
                                        {% csrf_token %}
                                        <input name="_method" type="hidden" value="DELETE">
                                        <button type="submit" class="btn btn-xs btn-danger btn-flat show_confirm" data-toggle="tooltip" title='Delete'>Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                                <tr class="text-center">
                                    <td colspan="9">There are no Record Found!</td>
                                </tr>   
                        {% endfor %}

                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if products.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                                <li class="page-item active "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>       
</div>
        
{% endblock%}