{% extends 'admin/basic.html' %}
{% load crispy_forms_tags %}
{% block title %}Product{% endblock %}


{% block content %}
    <div id="page-content-wrapper">
       {% comment %}  {% with title="Product Create" %}
            {% include "admin_dashboard/nav_bar.html" %}
        {% endwith %}
 {% endcomment %}
  
 <a href="{% url 'product_list' %}" ><button class="btn btn-success" >BACK</button></a>
        <div class="container-fluid px-4">
            <form class="row g-2"  method="POST" enctype="multipart/form-data" id ="image-form">
                {% csrf_token %}
                <div class="col-6">
                    {{ product_form.product_name|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ product_form.category|as_crispy_field}}
                </div>
                <div id="alert-box"></div>
                <div id="image-box" class="mb-3"></div>
                {{ product_form.product_image|as_crispy_field}}
                
                {{ product_image_form.product_image|as_crispy_field }}
                {{ product_form.product_desc|as_crispy_field}}
                <div class="col-6">
                    {{ product_form.price|as_crispy_field}}
                </div>
                {{ product_form.stock|as_crispy_field }}
                {{ product_form.is_available|as_crispy_field}}
                <div class="col-12 d-flex justify-content-center mb-5">
                    <button type="submit" class="btn btn-primary px-4 mt-12">Create</button>
                </div>
            </form>
           {% comment %}  <button class="btn btn-primary mt-3 not-visible" id="confirm-btn">confirm</button> {% endcomment %}

        </div>
    </div>
{% endblock %}
