{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  .mainImage {
    overflow: hidden;
    margin: 0 auto;
  }

  .mainImage img {
    width: 16rem;
    transition: 0.5s all ease-in-out;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>
<section class="section-content padding-y bg" style="margin-top: 7rem">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap mainImage thumb-image">
              <center>
                <img
                  src="{{ single_product.product_image.url }}"
                  data-imagezoom="true"
                />
              </center>
            </div>
            <!-- img-big-wrap.// -->
          </article>
          <!-- gallery-wrap .end// -->
          <ul class="thumb">
            <li>
              <a
                href="{{ single_product.product_image.url }}"
                target="mainImage"
              >
                <img
                  src="{{ single_product.product_image.url }}"
                  alt="Product Image"
              /></a>

              {% for i in product_gallery %}
              <a href="{{i.image.url}}" target="mainImage"
                ><img src="{{i.image.url}}" alt="Product Image"
              /></a>
              {% endfor %}
            </li>
          </ul>
        </aside>
        <main class="col-md-6 border-left">
          <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            <article class="content-body mb-5 mt-1">
              <h2 class="title">{{ single_product.product_name }}</h2>

              {% if single_product.is_offer%}
              <div class="mb-3">
                <del class="price">$ {{single_product.price}}</del>
                <var class="price h4 mx-3"
                  >$ {{single_product.offered_price}}</var
                >
                <span class="rounded-circle btn btn-danger text-light price"
                  >-{{single_product.offer}}/-</span
                >
              </div>

              {% elif pro %}
                <del class="price">$ {{ single_product.price }}</del>
                <var class="price h4 mx-3">$ {{ single_product.offered_price }}</var><br>
                <h6 class="rectangle btn btn-danger mt-1" style="cursor:initial;">Category Offer</h6>
              {% else%}
              <var class="price h4">$ {{single_product.price}}</var>
              {% endif %}
              <p>{{ single_product.product_desc }}</p>

              <hr />
              {% if single_product.variation.size %}
              <div class="row">
                <div class="item-option-select">
                  <h6>Select Size</h6>
                  <select
                    name="size"
                    class="form-control"
                    required
                    style="width: 6rem; text-align: center"
                  >
                    <option value="" disabled selected>Select</option>
                    {% for i in single_product.variation.size %}
                    <option value="{{ i.variation_value | lower }}">
                      {{ i.variation_value | capfirst }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              {% endif %} {% if single_product.variation.colors %}
              <div class="row">
                <div class="item-option-select">
                  <h6>Choose Color</h6>
                  <select
                    name="color"
                    class="form-control"
                    required
                    style="width: 6rem; text-align: center"
                  >
                    <option value="" disabled selected>Select</option>
                    {% for i in single_product.variation.colors %}
                    <option value="{{ i.variation_value | lower }}">
                      {{ i.variation_value | capfirst }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <hr />
              {% endif %} {% if single_product.stock == 5%}
              <h5 class="text-danger">Hurry up ! Only 5 products left.. !</h5>
              <button type="submit" class="btn btn-dark">
                <span class="text">Add to Cart</span>
                <i class="fa fa-shopping-cart"></i>
              </button>
              {% if wishlist_items%}
              <span class="btn btn-success">
                <span class="text">Added into Wishlist</span>
                <i class="fa fa-shopping-cart"></i>
              </span>
              {% else %}
              <a
                href="{% url 'add_to_wishlist' single_product.id %}"
                class="btn btn-dark"
              >
                <span class="text">Wishlist</span>
                <i class="fa fa-shopping-cart"></i>
              </a>
              {% endif %} {% elif single_product.stock == 4%}
              <h5 class="text-danger">Hurry up ! Only 4 products left.. !</h5>
              <button type="submit" class="btn btn-dark">
                <span class="text">Add to Cart</span>
                <i class="fa fa-shopping-cart"></i>
              </button>
              {% if wishlist_items%}
              <span class="btn btn-success">
                <span class="text">Added into Wishlist</span>
                <i class="fa fa-shopping-cart"></i>
              </span>
              {% else %}
              <a
                href="{% url 'add_to_wishlist' single_product.id %}"
                class="btn btn-dark"
              >
                <span class="text">Wishlist</span>
                <i class="fa fa-shopping-cart"></i>
              </a>
              {% endif %} {% elif single_product.stock == 3%}
              <h5 class="text-danger">Hurry up ! Only 3 products left.. !</h5>
              <button type="submit" class="btn btn-dark">
                <span class="text">Add to Cart</span>
                <i class="fa fa-shopping-cart"></i>
              </button>
              {% if wishlist_items%}
              <span class="btn btn-success">
                <span class="text">Added into Wishlist</span>
                <i class="fa fa-shopping-cart"></i>
              </span>
              {% else %}
              <a
                href="{% url 'add_to_wishlist' single_product.id %}"
                class="btn btn-dark"
              >
                <span class="text">Wishlist</span>
                <i class="fa fa-shopping-cart"></i>
              </a>
              {% endif %} {% elif single_product.stock == 2%}
              <h5 class="text-danger">Hurry up ! Only 2 products left.. !</h5>
              <button type="submit" class="btn btn-dark">
                <span class="text">Add to Cart</span>
                <i class="fa fa-shopping-cart"></i>
              </button>
              {% if wishlist_items%}
              <span class="btn btn-success">
                <span class="text">Added into Wishlist</span>
                <i class="fa fa-heart"></i>
              </span>
              {% else %}
              <a
                href="{% url 'add_to_wishlist' single_product.id %}"
                class="btn btn-dark"
              >
                <span class="text">Wishlist</span>
                <i class="fa fa-heart"></i>
              </a>
              {% endif %} {% elif single_product.stock == 1%}
              <h5 class="text-danger">Hurry up ! Only 1 products left.. !</h5>
              <button type="submit" class="btn btn-dark">
                <span class="text">Add to Cart</span>
                <i class="fa fa-heart"></i>
              </button>
              {% if wishlist_items%}
              <span class="btn btn-success">
                <span class="text">Added into Wishlist</span>
                <i class="fa fa-heart"></i>
              </span>
              {% else %}
              <a
                href="{% url 'add_to_wishlist' single_product.id %}"
                class="btn btn-dark"
              >
                <span class="text">Wishlist</span>
                <i class="fa fa-heart"></i>
              </a>
              {% endif %} {% elif single_product.stock <= 0%}
              <h5 class="text-danger">Out of Stock</h5>
              {% else %}

              <button type="submit" class="btn btn-dark">
                <span class="text">Add to Cart</span>
                <i class="fa fa-shopping-cart"></i>
              </button>
              {% if wishlist_items%}
              <span class="btn btn-success">
                <span class="text">Added into Wishlist</span>
                <i class="fa fa-heart"></i>
              </span>
              {% else %}
              <a
                href="{% url 'add_to_wishlist' single_product.id %}"
                class="btn btn-dark"
              >
                <span class="text">Wishlist</span>
                <i class="fa fa-heart"></i>
              </a>
              {% endif %} {% endif %}
            </article>
            <!-- product-info-aside .// -->
          </form>
        </main>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    <br />
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
