{% extends 'admin/main.html' %}
{% load crispy_forms_tags %}
{% block title %}User SignUp{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            {% if messages %}
                                    {% for message in messages %}
                                        <div class="container-fluid p-0">
                                            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                </button>
                                                {{ message }}
                                            </div>
                                        </div>
                                    {% endfor %}
                            {% endif %} 
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an User</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>
                                <form class="row g-3 needs-validation" method="POST" novalidate>
                                    {% csrf_token %}
                                    <div class="col-6">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        {{ form.username|as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        {{ form.email|as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        {{ form.phone_number|as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        {{ form.password|as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        {{ form.confirm_password|as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a href="{% url 'login'  %}">Log in</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}